@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@font-face {
    font-family: 'RWBY';
    src: url('/font/rwby_style.ttf');}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
html{
    font-size: 14px;
}
body{
    font-family: 'Roboto', sans-serif;
}    
#container{
    max-width: 1600px;
    min-width: 300px;
    margin: 0 auto;
    background-color: black;
}
#header .big, #header .medium{
    display: none;
}
#navbar ul li{
 display: block;
 width: 100%;
 text-align: center;
 border: 1px solid rgb(50, 46, 46);
 padding: 10px;
 background-color: black;
} 
#navbar ul li a{
    font-family:RWBY;
    text-decoration: none;
    font-size: 3rem;
    color: white;
    display: block;
}
#navbar ul li:hover{
    background-color:rgb(50, 46, 46) ;
}
#navbar{
    position: sticky;
    top: 0;
}
img{
    width: 100%;
}
p{
    color: lightgrey;
    line-height: 1.5;
    padding: 10px 5px;
}
@media(min-width:768px){
    #header .big, #header .mobil{
        display: none;
    }
    #header .medium{
        display: block;
    }
    #navbar ul li{
        float: left;
        width:24.9999%;
        padding: 25px 0;
    }
    #navbar::after{
        content: '';
        clear: both;
        display: table;
    }
    .R{
        grid-area: R;
    }
    .W{
        grid-area: W;
    }
    .B{
        grid-area: B;
    }
    .Y{
        grid-area: Y;
    }
    .p1{
        grid-area: p1;
    }
    .p2{
        grid-area: p2;
    }
    .p3{
        grid-area: p3;
    }
    .p4{
        grid-area: p4;
    }
    .content{
        max-width: 1600px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "R W"
        "p1 p2"
        "p3 p4"
        "B Y";
    }
}
@media(min-width:992px){
    #header .medium, #header .mobil{
        display: none;
    }
    #header .big{
        display: block;
    }
    .content{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "R W B Y"
        "p1 p2 p3 p4";
    }
}